.catalog__item {
  border: 1px solid #ededed;
  padding-top: 25px;
  border-bottom: none;
}

.catalog__item--chiken-s {
  background-image: url(../img/chicken-small-mobile@1x.jpg);
  background-position: 0 -15px;
  background-repeat: no-repeat;
  background-size: 45%;
}

.catalog__item--chiken-b {
  background-image: url(../img/chicken-big-mobile@1x.jpg);
  background-position: 0 -25px;
  background-repeat: no-repeat;
  background-size: 48%;
}

.catalog__item--fish-s {
  background-image: url(../img/fish-small-mobile@1x.jpg);
  background-position: 0 -15px;
  background-repeat: no-repeat;
  background-size: 45%;
}

.catalog__item--fish-b {
  background-image: url(../img/fish-big-mobile@1x.jpg);
  background-position: 0 -25px;
  background-repeat: no-repeat;
  background-size: 48%;
}

.catalog__item--buckwheat-s {
  background-image: url(../img/buckwheat-small-mobile@1x.jpg);
  background-position: 0 -15px;
  background-repeat: no-repeat;
  background-size: 45%;
}

.catalog__item--buckwheat-b {
  background-image: url(../img/buckwheat-big-mobile@1x.jpg);
  background-position: 0 -25px;
  background-repeat: no-repeat;
  background-size: 48%;
}

.catalog__item--rice-s {
  background-image: url(../img/rice-small-mobile@1x.jpg);
  background-position: 0 -15px;
  background-repeat: no-repeat;
  background-size: 45%;
}

.catalog__link {
  display: block;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  width: 140px;
  padding-left: 140px;
}

.catalog__option {
  display: flex;
  justify-content: space-between;
  padding-left: 140px;
  width: 140px;
  padding-bottom: 26px;
}

.catalog__volume,
.catalog__price {
  width: 50px;
}

.catalog__button {
  margin-bottom: 26px;
}

.catalog__stats {
  position: relative;
  border: 1px solid #eeeeee;
  width: 318px;
  padding-top: 83px;

}

.catalog__stats::before {
  content: "";
  position: absolute;
  background-image: url(../img/icon-plus-mobile.svg);
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  top: 20px;
  left: 145px;
  opacity: 0.2;
}

.catalog__stats b {
  text-transform: uppercase;
  font-family: "Osward", serif;
  font-size: 16px;
  line-height: 20px;
  padding-left: 30px;
  color: #111111;
}

.catalog__stats p {
  font-family: "Arial", serif;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
  text-align: center;
  padding-bottom: 25px;
}
