.main-nav {
  font-family: "Oswald", serif;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

.site-list__item {
  padding-top: 20px;
  border: 1px solid #eeeeee;
}
