.page-header {
  width: 320px;
  margin: 0 auto;
}

.page-header__wrapper {
  width: 300px;
  padding: 0 10px;
  padding-top: 12px;
}

.page-header__container {
  display: flex;
  justify-content: space-between;
}

.page-header__logo img {
  width: 190px;
  height: 38px;
  margin-left: 10px;
}

@media (min-width: @tablet-width) {
  .page-header {
    width: 768px;
    margin: 0 auto;
  }

  .page-header__wrapper {
    margin: 0 auto;
    padding: 0 30px;
    width: 708px;
  }

  .page-header__logo-image {
    display: none;
  }

  .page-header__logo {
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  .page-header__logo img {
    width: 173px;
    height: 58px;
    margin-left: 0;
  }

  .page-header__nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 26px;
    margin-top: 24px;
  }

  .page-header__toggle {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    background-image: url("../img/index-background-desktop@1x.webp");
    background-position: 719px 0;
    background-repeat: no-repeat;
    background-size: 720px auto;
    margin: 0 auto;
    margin-bottom: 63px;
    width: 1440px;
  }

  .page-header__wrapper {
    width: 1220px;
    padding: 0 110px;
    margin: 0 auto;
    padding-top: 54px;


    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/index-background-desktop@2x.webp");
    }
  }

  .page-header__logo img {
    width: 202px;
    height: 63px;
    margin-top: -3px;
  }

  .page-header__nav {
    display: flex;
    justify-content: space-between;
    margin: 0;
  }

  .page-header__wrapper--picture {
    background-image: none;
  }
}
