@media (min-width: @tablet-width) {
  .page-main__wrapper {
    padding: 0 30px;
    margin: 0 auto;
    width: 708px;
  }
}

@media (min-width: @desktop-width) {
  .page-main__wrapper {
    width: 1220px;
    padding: 0 110px;
    margin: 0 auto;
  }
}
