.page-footer {
  position: relative;
  width: 320px;
  margin: 0 auto;
}

.page-footer__grey {
  background-color: #f2f2f2;
  padding-top: 28px;
}

.page-footer__contacts {
  display: flex;
  margin-bottom: 27px;
  padding: 0 20px;
  width: 280px;
}

.page-footer__logo {
  padding-top: 37px;
  margin-bottom: 28px;
  margin-left: 37px;
  padding-left: 50px;
}

.page-footer__container {
  background-image: url("../img/bg-map-mobile@1x.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  position: relative;
  background-color: #f2f2f2;
  overflow: hidden;
  width: 320px;
  height: 362px;
}

.page-footer__pin {
  position: absolute;
  top: 136px;
  left: 130px;
}

@media (min-width: @tablet-width) {
  .page-footer {
    margin: 0 auto;
    width: 768px;
    padding: 0;
  }

  .page-footer__contacts {
    padding: 0 30px;
    width: 708px;
  }

  .page-footer__container {
    background-image: url("../img/bg-map-tablet@1x.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    position: relative;
    background-color: #f2f2f2;
    margin: 0 auto;
    overflow: hidden;
    width: 768px;
    height: 400px;
  }

  .page-footer__container iframe {
    width: 768px;
    height: 400px;
  }

  .page-footer__pin {
    position: absolute;
    top: 146px;
    left: 321px;
    width: 125px;
    height: 106px;
  }

  .page-footer__social {
    display: flex;
    justify-content: space-between;
  }

  .page-footer__logo {
    margin: 0;
    padding-left: 23px;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    background-color: #f2f2f2;
    position: relative;
    margin: 0 auto;
    width: 1440px;
  }

  .page-footer__container {
    top: 0;
    left: -110px;
    background-image: url("../img/bg-map-desktop@1x.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    position: relative;
    background-color: #f2f2f2;
    margin: 0 auto;
    overflow: hidden;
    width: 1440px;
    height: 400px;
  }

  .page-footer__container iframe {
    width: 1440px;
    height: 400px;
  }

  .page-footer__pin {
    left: 998px;
    top: 151px;
  }

  .page-footer__wrapper {
    margin: 0 auto;
    padding: 0 110px;
    width: 1220px;
  }

  .page-footer__contacts {
    background-color: #ffffff;
    width: 570px;
    height: 200px;
    position: absolute;
    top: 96px;
    left: 111px;
    z-index: 1;
  }

  .page-footer__logo {
    padding: 0;
    margin-top: 41px;
  }
}
