@font-face {
  font-weight: normal;
  font-family: "Oswald", serif;
  font-style: normal;
  src: url("fonts/Oswald.woff2") format("woff2"), url("fonts/Oswald.woff") format("woff");
}

@font-face {
  font-weight: bold;
  font-family: "Oswald", serif;
  font-style: normal;
  src: url("font/Oswald.woff2") format("woff2"), url("font/oswald.woff") format("woff");
}
