.sentense {

}

.sentence__item {
  background-color: #f2f2f2;
  padding-bottom: 23px;
  padding-left: 40px;
}

.sentence__title {
  font-size: 24px;
  line-height: 37px;
  color: #111111;
  text-transform: uppercase;
  padding-top: 40px;
  padding-left: 40px;
}

.sentence__description {
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  width: 240px;
  padding-bottom: 26px;
  margin-bottom: 20px;
  border-bottom: 1px solid #d9d9d9;
}

.sentence__link {
  font-size: 16px;
  line-height: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: #111111;
}
