.work__title {
  font-size: 32px;
  line-height: 60px;
}

.work__list {
  font-family: "Arial", serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  padding-left: 80px;
  width: 200px;
}

.work__item {
  padding-bottom: 34px;
}
